<% include template/head %>
<script src="../assets/js/app.js"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold"><%=(blog!='') ? 'Edit Blog' : 'Add New Blog';%></span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <a href="blogs" class="breadcrumb-item"><i class="icon-blogger2 mr-2"></i> Blogs</a>
          <span class="breadcrumb-item active"><i class="<%=(blog!='') ? 'icon-pencil6 mr-2' : 'icon-add mr-2';%>"></i><%=(blog!='') ? 'Edit Blog' : 'Add New Blog';%></span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <!-- Basic layout-->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title"><%=(blog!='') ? 'Edit Blog' : 'Add Blog';%></h5>
        </div>

        <div class="card-body">
          <fieldset>
              <legend class="font-weight-semibold text-uppercase font-size-sm"></legend>
              <% if(blog==''){%>
                <form name="blogs_form" method="post" action="/admin/storeblogs"  enctype="multipart/form-data">
              <%}else{%>
                <form name="updateblogs_form" method="post" action="updateblog"  enctype="multipart/form-data">
              <%}%>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Blog Name:</label>
                    <div class="col-lg-9">
                      <input type="text" name="blog_title" id="title" class="form-control" placeholder="Enter blog title" value="<%if(blog!=''){%><%=blog.blog_title%><%}%>" required="required">
                    </div>
                  </div>

              <%if(blog!=''){%>
                <div class="form-group row" id="uploadimgdiv">
                  <label class="col-lg-3 col-form-label" for="blog_image">Upload Image:</label>
                  <div class="col-lg-9">
                    <input type="file" name="blog_image" class="form-control" id="blog_image" accept="image/*">
                  </div>
                </div>
                <div id="showimagediv">
                  <div class="form-group row images_div">
                    <label class="col-lg-3 col-form-label" for="city">Image: </label>
                    <div class="col-lg-9">
                      <div id="db_img">
                        <input type="hidden" name="old_image" value="<%=blog.blog_image%>">
                        <span class="imgblocks imgblock0">
                          <img src="/uploads/<%=blog.blog_image%>" height="65px" width="65px">
                          <a href="javascript:void(0)" id="<%=blog.blog_image%>" onclick="check(0,this)"><i class="fa fa-close" style="font-size:24px"></i></a>
                        </span>

                        <%if(blog!='' && blog.blog_image==''){%>
                          <input type="hidden" name="db_records" value="0" id="db_records">
                        <%}else{%>
                          <input type="hidden" name="db_records" value="1" id="db_records">
                        <%}%>
                      </div>
                    </div>
                  </div>
                </div>
              <%}else{%>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label" for="blog_image">Upload Image:</label>
                  <div class="col-lg-9">
                    <input type="file" name="blog_image" class="form-control" id="blog_image" accept="image/*">
                  </div>
                </div>
              <%}%>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="blog_content">Content:</label>
                <div class="col-lg-9 ck_blog">
                  <textarea name="blog_content" id="blog_content" class="form-control" rows="5" placeholder="Blog Description"><%if(blog!=''){%><%=blog.blog_content%><%}%></textarea>
                </div>
              </div>
              <%if(blog!=''){%>
              <input type="hidden" name="blog_id" value="<%=blog.id%>">
              <%}%>

                  <div class="text-right">
                    <button type="submit" class="btn btn-primary"><%=(blog!='') ? 'Update Blog' : 'Add Blog';%><i class="icon-paperplane ml-2"></i></button>
                    <a href="blogs" class="btn btn-primary"><i class="icon-arrow-left7 position-left"></i> Back to Listing</a>
                  </div>
                </form>
          </fieldset>
        </div>
      </div>
      <!-- /basic layout -->
  </div>
  <!-- /content area -->
<% include template/subfooter%>   
  <script src="/js/validation/blogvalidation.js"></script>
  <script>
    $(document).ready(function(){
      if($("#db_records").val()>0){
        $('#uploadimgdiv').hide();
      }else{
        $('#showimagediv').hide();
      }
    });
    function check(index,i){
      console.log(index);
      $("#media-"+index).remove();
      $("div#db_img span.imgblock"+index).remove();
      $("#db_records").val( parseInt($("#db_records").val()) - 1 );
      $('#uploadimgdiv').show();
      $('#showimagediv').hide();
      console.log($("#db_records").val());
    }

    CKEDITOR.replace( 'blog_content' );
  </script>
<% include template/footer%>
      
