<% include template/head %>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<% include template/subheader %>
<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> 
        <% if(blog==''){%>
        <span class="text-semibold">Home</span> - Add Blog</h4>
        <%}else{%>
        <span class="text-semibold">Home</span> - Edit Blog</h4>
        <%}%>          
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="home"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active"><a href="blogs"><i class="icon-blogger2 position-left"></i>Blogs</a></li>
        <% if(blog==''){%>
          <li class="active">Add Blog</li>
        <%}else{%>
          <li class="active">Edit Blog</li>
        <%}%>
      </ul>
    </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">

    <!-- Dashboard content -->
    <div class="panel panel-flat panel-admin">
        <div class="panel-body">

          <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
              <% } %>

              <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
              <% } %>

            <% 
            var i=1;
            if(blog==''){%>
            <form name="blogs_form" method="post" action="/admin/storeblogs"  enctype="multipart/form-data">
            <%}else{%>
            <form name="updateblogs_form" method="post" action="updateblog"  enctype="multipart/form-data">
            <%}%>

              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="blog_title" id="title" class="form-control" placeholder="Enter blog title" value="<%if(blog!=''){%><%=blog.blog_title%><%}%>">
              </div>
              <%if(blog!=''){%>
              <div class="form-group" id="uploadimgdiv">
                <label for="blog_image">Upload Image</label>
                <input type="file" name="blog_image" class="form-control" id="blog_image" accept="image/*">
              </div>
              <div class="form-group" id="showimagediv">
                <div class="form-group form-group-material images_div">
                  <label class="control-label animate is-visible" for="city">Image </label>
                  
                  <div id="db_img" style="min-height:100px;">
                    <input type="hidden" name="old_image" value="<%=blog.blog_image%>">
                    <span class="imgblocks imgblock0">
                      <img src="/uploads/<%=blog.blog_image%>" height="65px" width="65px">
                      <a href="javascript:void(0)" id="<%=blog.blog_image%>" onclick="check(0,this)"><i class="fa fa-close" style="font-size:24px"></i></a>
                    </span>

                    <%if(blog!='' && blog.blog_image==''){%>
                      <input type="hidden" name="db_records" value="0" id="db_records">
                    <%}else{%>
                      <input type="hidden" name="db_records" value="1" id="db_records">
                    <%}%>
                  </div>
                </div>
              </div>
              <%}else{%>
                <div class="form-group">
                  <label for="blog_image">Upload Image</label>
                  <input type="file" name="blog_image" class="form-control" id="blog_image" accept="image/*">
                </div>
              <%}%>
              <div class="form-group ck_editerror">
                <label for="blog_content">Content</label>
                <textarea name="blog_content" id="blog_content" class="form-control" rows="5" placeholder="Blog Description"><%if(blog!=''){%><%=blog.blog_content%><%}%></textarea>
              </div>
              <%if(blog!=''){%>
              <input type="hidden" name="blog_id" value="<%=blog.id%>">
              <%}%>
              <input type="submit" name="submit" value="<%=(blog!='') ? 'Update' : 'Add';%>" class="btn btn-success">
              <a href="blogs" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
    
    <!-- /dashboard content -->
<% include template/subfooter%>   
  <script src="/js/validation/blogvalidation.js"></script>
  <script>
    $(document).ready(function(){
      if($("#db_records").val()>0){
        $('#uploadimgdiv').hide();
      }else{
        $('#showimagediv').hide();
      }
    });
    function check(index,i){
      console.log(index);
      $("#media-"+index).remove();
      $("div#db_img span.imgblock"+index).remove();
      $("#db_records").val( parseInt($("#db_records").val()) - 1 );
      $('#uploadimgdiv').show();
      $('#showimagediv').hide();
      console.log($("#db_records").val());
    }

    CKEDITOR.replace( 'blog_content' );
  </script>
<% include template/footer%>
      
