<% include template/head %>
<% include template/subheader %>
<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i>
        <% if(categories==''){%>
        <span class="text-semibold">Home</span> - Add Category</h4>
        <%}else{%>
        <span class="text-semibold">Home</span> - Edit Category</h4>
        <%}%>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="home"><i class="icon-home2 position-left"></i> Home</a></li>
        <li><a href="categories"><i class="icon-list3 position-left"></i> Categories</a></li>
        <% if(categories==''){%>
        <li class="active">Add Category</li>
        <%}else{%>
        <li class="active">Edit Category</li>
        <%}%>
      </ul>
    </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">

    <!-- Dashboard content -->
    <div class="panel panel-flat panel-admin">
        <div class="panel-body">
            <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
              <% } %>

              <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
              <% } %>

              <% if(categories==''){%>
              <form role="form" action="/admin/category/store" method="post" name="categoryform">
            <%}else{%>
              <form role="form" action="updateCategory" method="post" name="categoryform">
            <%}%>

                <div class="form-group">
                  <label for="form-username">Category Name</label>
                    <input type="hidden" name="category_id" value="<%if(categories!=''){%><%=categories.id%><%}%>"">
                    <input type="text" name="category_name" required  placeholder="Enter Category Name" class="form-control" id="category_name" value="<%if(categories!=''){%><%=categories.category_name%><%}%>">
                  </div>               
                  <button type="submit" class="btn btn-success"><%=(categories!='') ? 'Update' : 'Add';%></button>
                  <a href="/admin/categories" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
    
    <!-- /dashboard content -->
<% include template/subfooter%>   
<script src="/js/validation/addcategoryvalidation.js"></script> 
<% include template/footer%>
      
