<% include template/head %>
  <script src="../global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="../global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>

  <script src="../assets/js/app.js"></script>
  <script src="../global_assets/js/demo_pages/datatables_responsive.js"></script>
<% include template/subheader %>
  <!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Admin</span> - Business User</h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-users4 mr-2"></i>Users</span>
          <span class="breadcrumb-item active">Business Users</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
          <table class="table datatable-responsive">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Business Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Business Owner</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <% 
                  var i=1;
                  if (users) {
                        users.forEach((user) => { %>
                   <tr>
                      <td><%= i++ %></td>
                      <td><%= user.business_name %> </td>
                      <td><%= user.contact_number %> </td>
                      <td><%= user.mail %> </td>
                      <td><%= user.first_name+" "+user.last_name %> </td>
                      <td><% if(user.status==2){ %>
                        <span class="badge badge-success">Active</span>
                          <% } else if(user.status==1){ %>
                        <span class="badge badge-info">Pending</span>
                        <% } else if(user.status==3){ %>
                          <span class="badge badge-danger">Suspended</span>
                          <% }else if(user.status==0){ %>
                        <span class="badge badge-secondary">Inactive</span>
                          <% }else{ %>
                        <span class="badge badge-secondary">Inactive</span>
                          <% } %>                        
                      </td>
                      <td> 

                        <div class="list-icons">
                          <a href="/admin/business-detail?id=<%=user.id%>" class="list-icons-item text-primary-600" data-popup="tooltip" title="View" data-container="body">
                            <i class="icon-eye8"></i>
                          </a>

                        <% if(user.status==1) { %>

                        <a href="javascript:void(0)" class="list-icons-item text-success-600" data-popup="tooltip" title="Approve User" data-container="body" onclick="confirmmessage('Are you sure you want to approve this user?','/admin/businessuser/approve?id=<%=user.id%>')">
                          <i class="icon-user-check"></i>
                        </a>
                             <% }else if(user.status==2) { %>

                          <a href="javascript:void(0)" class="list-icons-item text-danger-600" data-popup="tooltip" title="Suspend User" data-container="body" onclick="confirmmessage('Are you sure you want to suspend this user? ','/admin/businessuser/suspend?id=<%=user.id%>')">
                          <i class="icon-user-block"></i>
                        </a>

                             <% }else if(user.status==3) { %>
                          
                          <a href="javascript:void(0)" class="list-icons-item text-success-600" data-popup="tooltip" title="Activate User" data-container="body" onclick="confirmmessage('Are you sure you want to activate this user? ','/admin/businessuser/activate?id=<%=user.id%>')">
                          <i class="icon-user-check"></i>
                        </a>
                        <% } %>
                        </div>
                      </td>
                    </tr>
                    <% }) } %>
                  </tbody>
          </table>
    </div>
  </div>
  <!-- /content area -->
<% include template/subfooter%>   
<% include template/footer%>
      
