<% include template/head %>
<script src="../global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="../global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>

  <script src="../assets/js/app.js"></script>
  <script src="../global_assets/js/demo_pages/datatables_responsive.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Admin</span> - Claimed Locations</h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <a href="locations" class="breadcrumb-item"><i class="icon-office mr-2"></i> All Locations</a>
          <span class="breadcrumb-item active"><i class="icon-price-tags mr-2"></i>Claimed Locations</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
          <table class="table datatable-responsive">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Location Name</th>
                <th>Category</th>
                <th>Existing Owner</th>
                <th>Claimed User</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                    <% var i=1;
                      if (claimedLocationsList) {
                          claimedLocationsList.forEach((property) => { 
                          if(filters.category_filter){ 
                              if(property.category.indexOf(parseInt(filters.category_filter))!=-1){
                              %>
                            <tr>
                              <td><%=i++ %><%=filters.category_filter%></td>
                              <td><%=property.property_name %></td>
                              <%#categories[property.category].category_name %>
                              <%
                              var categoryIds = property.category;
                              var catname = '';
                              categoryIds.forEach(function(cat){    
                                if(catname.length>0)
                                  catname = catname+', '+categories[cat].category_name;
                                else 
                                  catname = categories[cat].category_name;
                              });
                              %>
                              <td><%=catname %></td>
                              <td><a href="userdetails?id=<%=property.exiting_owner_id%>"> <%=property.exiting_owner %></a></td>
                              <td><a href="business-detail?id=<%=property.new_owner_id%>"> <%=property.new_owner_name %></a></td>
                              <td> 
                              <a type="button" class="btn btn-success btn-sm" data-href="/admin/propertydetail?id=<%=property.id%>" data-id="<%=property.id%>" onclick="approveClaim(<%=property.id%>)">Accept</a>
                                <a type="button" class="btn btn-success btn-sm" data-href="/admin/propertydetail?id=<%=property.id%>" data-id="<%=property.id%>" onclick="ignoreClaim(<%=property.id%>)">Ignore</a>
                              <a type="button" class="btn btn-primary btn-sm" href="/admin/location-detail?id=<%=property.property_id%>">View</a>
                            </td>
                          </tr>
                        <%} } else{ %> 
                            <tr>
                              <td><%=i++ %><%=filters.category_filter%></td>
                              <td><%=property.property_name %></td>
                              <%#categories[property.category].category_name %>
                              <%
                              var categoryIds = property.category;
                              var catname = '';
                              categoryIds.forEach(function(cat){    
                                if(catname.length>0)
                                  catname = catname+', '+categories[cat].category_name;
                                else 
                                  catname = categories[cat].category_name;
                              });
                              %>
                              <td><%=catname %></td>
                              %>
                              <td><a href="userdetails?id=<%=property.exiting_owner_id%>"> <%=property.exiting_owner %></a></td>
                              <td><a href="business-detail?id=<%=property.new_owner_id%>"> <%=property.new_owner_name %></a></td>
                              <td><a type="button" class="btn btn-success btn-sm" data-href="/admin/propertydetail?id=<%=property.id%>" data-id="<%=property.id%>" onclick="approveClaim(<%=property.id%>)">Accept</a>
                                <a type="button" class="btn btn-success btn-sm" data-href="/admin/propertydetail?id=<%=property.id%>" data-id="<%=property.id%>" onclick="ignoreClaim(<%=property.id%>)">Ignore</a>
                                <a type="button" class="btn btn-primary btn-sm" href="/admin/location-detail?id=<%=property.property_id%>">View</a>
                              </td>
                            </tr>
                        <% } }) } %>
                </tbody>
          </table>
    </div>
  </div>
  <!-- /content area -->
<% include template/subfooter%>   
  <script type="text/javascript">
    $(document).ready(function(){      
      $("#category_filter").change(function(){       
        $("#location_filters").submit();
      });
    });
    function approveClaim(id){
      confirmmessage("Are you sure you want to accept this claim?",'/admin/approve-claim/?id='+id);
    }

    function ignoreClaim(id){
      confirmmessage('Are you sure you want to ignore this claim?','/admin/ignore-claim/?id='+id);
    }
  </script>
<% include template/footer%>
      
