<% include template/head %>
  <script src="../global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="../global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>
  <script src="../global_assets/js/plugins/forms/styling/uniform.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="../global_assets/js/demo_pages/form_multiselect.js"></script>
  <script src="../global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">All Locations</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-office mr-2"></i>All Location</span>
        </div>
      </div>
    </div>
  </div>
<!-- /page header -->
<!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
      <div class="card-body">
        <form method="get" name="search_form" id="search_form">
          <div class="row">
              <div class="form-check-inline">
                <label class="form-check-label" for="filter1">
                  <input type="checkbox" name="filter1" id="filter1" <% if(filters.filter1){ %> checked <% } %> class="form-check-input-styled-info" data-fouc>
                  Pending
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="filter2">
                  <input type="checkbox" name="filter2" id="filter2" <% if(filters.filter2){ %> checked <% } %> class="form-check-input-styled-success" data-fouc>
                  Activated
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="filter3">
                  <input type="checkbox" name="filter3" id="filter3" <% if(filters.filter3){ %> checked <% } %> class="form-check-input-styled-danger" data-fouc>
                  Deactivated
                </label>
              </div>
              <div class="col-md-3">
                <input type="hidden" name="page" value="0" />
                <input type="hidden" name="ordered_column" id="ordered_column" value="<%-ordered_column%>" />
                <input type="hidden" name="ordered_sort" id="ordered_sort" value="<%-ordered_sort%>" />
                  <button type="submit" class="btn btn-primary btn-sm" id="filterApplyBtn">Apply <i class="icon-filter4 ml-2"></i></button>
                  <button type="reset" class="btn btn-sm bg-slate" id="resetApplyBtn">Reset <i class="icon-reset ml-2"></i></button>
              </div>
          </div>
        </form>
      </div>
          <table class="table datatable-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Business Name</th>
                <th>Category</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Business Owner</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% 
                var i=1;
                if (properties) {
                      properties.forEach((property) => { %>
              <tr>
                <td><%-(page*perpage)+i %><%i++%></td>
                <td><%= property.property_name%></td>
                <%
                 var categoryList = [];
                 if(property.category){
                  (property.category).forEach((category) => { 
                    categoryList.push(' '+category.category_name);                   
                 }); } %>
                <td><%= categoryList.join()%></td>
                <td><%= property.user.contact_number%></td>
                <td><%= property.user.mail%></td>
                <td><%= property.user.first_name+' '+property.user.last_name%></td>
                <td>
                  <% if(property.status==0) { %>
                    <span class="badge badge-info">Pending</span>
                    <% } else if(property.status==1){ %>
                    <span class="badge badge-success">Active</span>
                    <% } else if(property.status==2) { %>
                    <span class="badge badge-danger">Deactive</span>
                    <% } %>
                </td>
                <td> 
                    <div class="list-icons">
                      <a href="/admin/location-detail?id=<%=property.id%>" class="list-icons-item text-primary-600" data-popup="tooltip" title="View" data-container="body">
                        <i class="icon-eye8"></i>
                      </a>

                    <% if(property.status==0) { %>

                    <a href="javascript:void(0)" class="list-icons-item text-success-600" data-popup="tooltip" title="Approve Location" data-container="body" onclick="confirmmessage('Are you sure you want to approve this location?','/admin/approve-location/?id=<%=property.id%>')">
                      <i class="icon-checkmark-circle"></i>
                    </a>
                         <% }else if(property.status==1) { %>

                      <a href="javascript:void(0)" class="list-icons-item text-danger-600" data-popup="tooltip" title="Deactivate Location" data-container="body" onclick="confirmmessage('Are you sure you want to deactivate this location? ','/admin/reject-location/?id=<%=property.id%>')">
                      <i class="icon-close2"></i>
                    </a>

                         <% }else if(property.status==2) { %>
                      
                      <a href="javascript:void(0)" class="list-icons-item text-success-600" data-popup="tooltip" title="Activate Location" data-container="body" onclick="confirmmessage('Are you sure you want to activate this location? ','/admin/approve-location/?id=<%=property.id%>')">
                      <i class="icon-checkmark-circle2"></i>
                    </a>
                    <% } %>
                    </div>
                  </td>
              </tr>
              <% }) } %>
            </tbody>
          </table>
    </div>
    <% if(page<total_pages){ %>
    <form method="get" id="pagination-form">
      <input type="hidden" name="page" value="<%-page%>" id="page"/>
          <nav aria-label="footer" class="pagination-section">
            <ul class="pagination">
              <li class="page-item <% if(page==0){%>disabled<% } %>">
                <a class="page-link" href="javascript:void(0)" data-page="<%-page-1%>">Previous</a>
              </li>
              <% var i=0;
              for(i=0;i<total_pages;i++){ %>
              <li class="page-item <% if(i==page){%>active<% } %>"><a class="page-link" href="javascript:void(0)" data-page="<%-i %>"><%-i+1 %></a></li>
              <% } %>              
              <li class="page-item <% if(page==(total_pages-1)){%>disabled<% } %>">
                <a class="page-link" href="javascript:void(0)" data-page="<%-page+1%>">Next</a>
              </li>
            </ul>
          </nav>
        </form>
        <% } %>
  </div>
  <!-- /content area -->
<% include template/subfooter%>
<script type="text/javascript">
    $(document).ready(function(){
      $(".page-item a").click(function(){
        console.log($(this).data('page'));
        $("#page").val($(this).data('page'));
        $("#pagination-form").submit();
      });
      $("#resetApplyBtn").click(function(){        
        $('input:checkbox').attr('checked',false);
        $("#page").val('');
        window.location.assign('locations')
        //$("#search_form").submit();
      });

      /*if($('#ordered_sort').val()==1){
        $("."+$("#ordered_column").val()).css('font-weight','bold');
      }else{
        $("."+$("#ordered_column").val()).css('font-weight','normal');
      }
      $(".filter-class").click(function(){
        var order = $(this).data('order');
        order = (order==1) ? -1 : 1;
        $(this).data('order',order);
        var column_order = $(this).data('order');
        var column_name = $(this).data('column');
        $('#ordered_column').val(column_name);
        $('#ordered_sort').val(column_order);
        $('#search_form').submit();
      })*/
    });
  </script>  
<% include template/footer%>