<% include template/head %>
  <script src="../global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="../global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>
  <script src="../assets/js/app.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Blogs</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
        <div class="d-flex justify-content-center">
          <a href="/admin/addblog" class="btn btn-primary btn-sm">Add Blog <i class="icon-plus-circle2 ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-blogger2 mr-2"></i>Blogs</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
      <div class="card-body">
        <form method="get" name="search_form" id="search_form">
          <div class="row">
            <div class="col-md-3">
              <input type="hidden" name="page" value="0" />
              <input type="hidden" name="ordered_column" id="ordered_column" value="<%-ordered_column%>" />
              <input type="hidden" name="ordered_sort" id="ordered_sort" value="<%-ordered_sort%>" />
                <input type="text" name="keyword" value="<%-keyword%>" id="keyword" placeholder="Search blog" class="form-control"/> 
            </div>
            <div class="col-md-9">
              <button type="submit" class="btn btn-primary btn-sm">Search <i class="icon-search4 ml-2"></i></button>
              <button type="reset" class="btn btn-sm bg-slate" id="resetApplyBtn">Reset <i class="icon-reset ml-2"></i></button>
            </div>
          </div>
        </form>
      </div>
          <table class="table datatable-responsive">
            <thead>
              <tr>
                  <th>#</th>
                  <th class="filter-class blog_title" data-order="<%= (ordered_column=='blog_title') ? ordered_sort : -1 %>" data-column="blog_title">Blog Title</th>
                  <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% 
                    var i=1;
                    if (blogs) {
                      blogs.forEach((blog) => { %>
               <tr>
                  <td><%=i++%></td>
                  <td><%= blog.blog_title %></td>
                  <td class="text-center">

                    <div class="list-icons">
                      <a href="/blog?id=<%=blog.id%>" class="list-icons-item text-primary-600" data-popup="tooltip" title="View" data-container="body" target="_blank">
                        <i class="icon-eye8"></i>
                      </a>

                      <a href="/admin/editblog?edit=<%= blog.id %>" class="list-icons-item text-teal-600" data-popup="tooltip" title="" data-container="body" data-original-title="Edit">
                        <i class="icon-pencil7"></i>
                      </a>
                      <a onclick="return confirmmessage('Are you sure you want to delete this blog? ','/admin/deleteblog?delete=<%= blog.id %>')" href="javascript:void(0)" class="list-icons-item text-danger-600" data-popup="tooltip" title="" data-container="body" data-original-title="Delete">
                        <i class="icon-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              <% }) } %>
              </tbody>
          </table>
    </div>
    <% if(page<total_pages){ %>
    <form method="get" id="pagination-form">
      <input type="hidden" name="page" value="<%-page%>" id="page"/>
          <nav aria-label="footer" class="pagination-section">
            <ul class="pagination">
              <li class="page-item <% if(page==0){%>disabled<% } %>">
                <a class="page-link" href="javascript:void(0)" data-page="<%-page-1%>">Previous</a>
              </li>
              <% var i=0;
              for(i=0;i<total_pages;i++){ %>
              <li class="page-item <% if(i==page){%>active<% } %>"><a class="page-link" href="javascript:void(0)" data-page="<%-i %>"><%-i+1 %></a></li>
              <% } %>              
              <li class="page-item <% if(page==(total_pages-1)){%>disabled<% } %>">
                <a class="page-link" href="javascript:void(0)" data-page="<%-page+1%>">Next</a>
              </li>
            </ul>
          </nav>
        </form>
        <% } %>
  </div>
  <!-- /content area -->
<% include template/subfooter%>
<script type="text/javascript">
    $(document).ready(function(){
      $(".page-item a").click(function(){
        console.log($(this).data('page'));
        $("#page").val($(this).data('page'));
        $("#pagination-form").submit();
      });
      $("#resetApplyBtn").click(function(){
        $("#keyword").val('');
        $("#page").val('');
        $("#search_form").submit();
      });

      /*if($('#ordered_sort').val()==1){
        $("."+$("#ordered_column").val()).css('font-weight','bold');
      }else{
        $("."+$("#ordered_column").val()).css('font-weight','normal');
      }

      $(".filter-class").click(function(){
        var order = $(this).data('order');
        order = (order==1) ? -1 : 1;
        $(this).data('order',order);
        var column_order = $(this).data('order');
        var column_name = $(this).data('column');
        $('#ordered_column').val(column_name);
        $('#ordered_sort').val(column_order);
        $('#search_form').submit();
      })*/
    });
  </script>  
<% include template/footer%>
      
