<% include template/head %>
  <script src="../global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
  <script src="../global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="../global_assets/js/demo_pages/datatables_responsive.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Admin</span> - Blogs</h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
        <div class="d-flex justify-content-center">
          <a href="/admin/addblog" class="btn btn-primary btn-sm">Add Blog <i class="icon-plus-circle2 ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-blogger2 mr-2"></i>Blogs</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
          <table class="table datatable-responsive">
            <thead>
              <tr>
                  <th>Sr. No</th>
                  <th>Blog Title</th>
                  <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% 
                    var i=1;
                    if (blogs) {
                      blogs.forEach((blog) => { %>
               <tr>
                  <td><%=i++%></td>
                  <td><%= blog.blog_title %></td>
                  <td class="text-center">

                    <div class="list-icons">
                      <a href="/blog?id=<%=blog.id%>" class="list-icons-item text-primary-600" data-popup="tooltip" title="View" data-container="body" target="_blank">
                        <i class="icon-eye8"></i>
                      </a>

                      <a href="/admin/editblog?edit=<%= blog.id %>" class="list-icons-item text-teal-600" data-popup="tooltip" title="" data-container="body" data-original-title="Edit">
                        <i class="icon-pencil7"></i>
                      </a>
                      <a onclick="return confirmmessage('Are you sure you want to delete this blog? ','/admin/deleteblog?delete=<%= blog.id %>')" href="javascript:void(0)" class="list-icons-item text-danger-600" data-popup="tooltip" title="" data-container="body" data-original-title="Delete">
                        <i class="icon-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              <% }) } %>
              </tbody>
          </table>
    </div>
  </div>
  <!-- /content area -->
<% include template/subfooter%>   
<% include template/footer%>
      
