<% include template/head %>
<link href="../assets/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="../assets/js/app.js"></script>
<script src="../assets/js/bootstrap-toggle.min.js"></script>
<% include template/subheader %>
<!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Admin</span> - Business Details</h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <a href="business-users" class="breadcrumb-item"><i class="icon-briefcase mr-2"></i> Business</a>
          <span class="breadcrumb-item active">Business Details</span>
          <span class="breadcrumb-item active"><%=user.business_name %></span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <div class="card">
          <div class="card-header text-center">
            <h5 class="card-title"><%=user.business_name %></h5>
          </div>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td><%=user.first_name %></a></td>
                </tr>                                                          
                <tr>
                  <td>Last Name</td>
                  <td><%=user.last_name %></a></td>
                </tr> 
                <tr>
                  <td>Email</td>
                  <td><%=user.mail %></td>
                </tr>
                <tr>
                  <td>Business Name</td>
                  <td><%=user.business_name %></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td><%=user.address1 %></td>
                </tr>                   
                <tr> 
                  <td>Area</td>
                  <td><%=user.address2 %></td>
                </tr>
                <tr>
                  <td>Contact Number</td>
                  <td><%=user.contact_number %></td>
                </tr>
                <tr>
                  <td>Postal Code</td>
                  <td><%=user.postcode %></td>
                </tr>
                <tr>
                  <td>Professional Badge</td>
                  <td>
                    <input type="checkbox" class="prof-badge-toggle" <%= (user.is_professional_badge==0) ? '' : 'checked'%> data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="info" data-style="ios" value="<%= user.is_professional_badge%>" userId="<%= user.id %>">
                  </td>                           
                </tr> 
            </table>
          </div>
          <div class="card-body text-right">
            <button class="btn btn-primary" onclick="window.history.back();"><i class="icon-arrow-left7 position-left"> </i> Back to Listing</button>
          </div>
        </div>
  </div>
  <!-- /content area -->
<% include template/subfooter%>
<script type="text/javascript">
  $(function() {
      $('.prof-badge-toggle').change(function() {
          var userId = $(this).attr('userId');
          var toggle_value = $(this).val();
          $.ajax({
              type: "POST",
              url: '/admin/setprofesstionalbadge',
              data: {is_checked: $(this).prop('checked'), userId: userId, toggle_value: toggle_value},
              success: function(data){
              },
              error: function(){
                console.log('error');
              }
          });
      })
    })   
</script>
<% include template/footer%>
      
