<% include template/head %>
<link href="../css/developer_basic.css" rel="stylesheet">
<link href="../assets/css/property_details.css" rel="stylesheet">
<% include template/subheader %>
<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Location Detail</span></h4>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="home"><i class="icon-home2 position-left"></i> Home</a></li>
        <li><a href="/admin/locations"><i class="icon-office position-left"></i> Locations</a></li>
        <li class="active">Location Details</li>
        <li class="active"><%=property.property_name %></li>
      </ul>
    </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">

    <!-- Dashboard content -->
    <%
      var badge='no';      
      if(property.user_type==2 && property.status==1){
        badge='verified-property';
      }else if(property.user_type==2 && property.status==0){
        badge='verifypending';
      }
      if(isNaN(property.avg_review_rating)){ averageScore = 0; } else { averageScore=property.avg_review_rating.toFixed(2); }
      %>      
     <div class="panel panel-flat mb-3">  
      <div class="panel-body"> 
       <div class="container-fluid">
        <div class="row margin-5">
         <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
         <!-- Carousel Div Start-->  
          <div id="proptery-carousel" class="carousel slide"  data-ride="carousel">
              <div class="carousel-inner">
                <%
                var medias = [];
                  if(property.property_images.length>0){
                    medias = property.property_images.split(',');
                  }else{
                    medias[0] = "no-location.jpg";
                  }

                //var medias = property.property_images.split(',');
                  for(i=0;i<medias.length;i++){
                  %>
                  <div class="item <% if(i==0){ %>active<% }%> property-item">
                    <img class="d-block property-image" src="../uploads/<%=medias[i]%>" alt="First slide">
                  </div>
                  <% 
                  }
                  %>
                <a class="left carousel-control-prev" href="#proptery-carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control-next" href="#proptery-carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!-- <div class="num"></div> -->
              </div>
            </div>
          <!-- Carousel Div End-->  
        </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="row">  
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 <%-badge%>">
              <div class="admin-property-info"> 
                  <div class="card-info property-card-info">
                    <h3 class="card-title property-title"><%=property.property_name%></h3>
                    <p class="content-category property-add"><%=property.address1+" "+property.address2+" "+property.post_code%></p>
                    <p class="content-add property-cat"><%#category.category_name%>
                    <% var i=0;len=category.length;
                    category.forEach(function(cat) {%>
                    <%-cat.category_name%><%i++;if(i!=len){%>,<%}});
                    %>
                    </p>
                    <div class="review proptery-review">
                       <div class="stars pull-left">  
                         <div class="count-review"><span><%=property.total_reviews%></span> Reviews</div>
                          <div class="property-overall-rating">
                              <div class="stars">
                                <% var i=0;
                                for(i=0;i<parseInt(averageScore);i++){ %>
                                <span class="star-o"></span>  
                                <% }
                                for(;i<5;i++){  %>
                                <span class="star-half-o"></span>
                                <% } %>
                              </div>
                            </div>                            
                        </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="seprator" />
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 location-detail-description">
            <h5> Location Description </h5>
            <p><%=property.property_desc%></p>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="avarage-score">
              <h3 class="score-title text-center">Average Score</h3>
               <div class="rating text-center"><span><%=averageScore%></span></div>  
                <hr class="review-sep">
                    <div class="review">
                      <div class="stars pull-left">  
                            <div class="show-rating">
                              <div class="stars">
                                <span class="star-o"></span>
                                <span class="star-o"></span>
                                <span class="star-o"></span>
                                <span class="star-o"></span>
                                <span class="star-o"></span>
                              </div>
                            </div>
                      </div>
                        <div class="rating-count text-right rating-5"><span><%=property.review_types.five%></span> Ratings</div>
                    </div>
                    <hr class="review-sep">
                      <div class="review">
                        <div class="stars pull-left">  
                              <div class="show-rating">
                                <div class="stars">
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                </div>
                              </div>
                        </div>
                        <div class="rating-count text-right rating-4"><span><%=property.review_types.four%></span> Ratings</div>
                      </div>
                     <hr class="review-sep">
                      <div class="review">
                        <div class="stars pull-left">  
                              <div class="show-rating">
                                <div class="stars">
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                </div>
                              </div>
                        </div>
                        <div class="rating-count text-right rating-3"><span><%=property.review_types.three%></span> Ratings</div>
                      </div>
                     <hr class="review-sep">
                     <div class="review">
                        <div class="stars pull-left">  
                              <div class="show-rating">
                                <div class="stars">
                                  <span class="star-o"></span>
                                  <span class="star-o"></span>
                                </div>
                              </div>
                        </div>
                        <div class="rating-count text-right rating-2"><span><%=property.review_types.two%></span> Ratings</div>
                    </div>
                     <hr class="review-sep">
                     <div class="review">
                        <div class="stars pull-left">  
                              <div class="show-rating">
                                <div class="stars">
                                  <span class="star-o"></span>
                                </div>
                              </div>
                        </div>
                        <div class="rating-count text-right rating-1"><span><%=property.review_types.one%></span> Ratings</div>
                    </div>  
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-12">
          <% if(reviewCount>0) { %>
          <p class='text-center'> <strong> <%-counter%> reviews found. </strong></p>
          <% } %>
          <div class="msg-div text-center"> </div>
          <% property.reviews.forEach(function(review){ %>
           <div class="testimonial-card adminside_operation">
              <div class="crud-icons pull-right">
                  <button class="delete-btn delReview" data-rating="<%=review.review_rating%>" data-id="<%=review.id%>">delete</button>
              </div>  
              <div class="testimonial-title block inline-star">
                <%if(review.is_guest==0){%>
                  <h4 class="review-name">Anonymous (<%-review.first_name%> <%-review.last_name%>)</h4>
                <%}else{%>
                  <h4><%-review.first_name+" "+review.last_name%></h4>
                <%}%>
                    <div class="testi-star-rating margin-l">
                      <div class="stars">
                          <% j=0;k=0;
                            for(j=0;j<review.review_rating;j++){ %>
                              <span class="star-o"></span>  
                            <% }
                            for(k=j;k<5;k++){ %>
                            <span class="star-half-o"></span>
                          <% } %>
                      </div>
                    </div>
              </div>
              <p class="date-time"><%=review.created_date%></p>
              <div class="testi-content">
                <p class="testimonial-text"><i class="quote-left"></i><%=review.review_content%><i class="quote-right"></i></p>
                <p class="testimonial-text">IP: <%=review.ip_address%> | <%=review.user_location%></p>
              </div>
                       <!--START VIEW CODE-->
              <div class="socials-icons shareBox">
                <div class="media-images text-center view_review">
                  <%if(review.review_media!=''){%>
                   <a href="#image-content46" class="create-slider btn-primary" data-media="<%-review.review_media %>">View</a>
                   <%}%>                   
                    <div class="" style="display: none">
                      <div class="" id="image-content46">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
                          <div id="image-carousel" class="image-carousel carousel slide carousel-fade" data-ride="carousel">
                                  <div class="carousel-slider-inner">
                                                        
                                  </div>
                                    <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                    <div class="num"></div>
                                </div>
                             </div>
                      </div>
                    </div>
                </div>
              </div>
              <!--END VIEW CODE--> 
           </div>
              <% if(review.is_reply==1){ %>              
                <div class="testimonial-card testimonial-reply">              
                  <div class="crud-icons pull-right">
                        <button class="delete-btn location_review_delete" data-reviewid="<%=review.id%>">delete</button>
                        <!-- <button class="edit-btn editReview" id="<%=review.id%>">edit</button>   -->
                  </div>
                  <h4><%-property.property_name%></h4>
                  <p class="date-time"><%-review.created_date %></p>

                  <div class="testi-content">
                    <p class="testimonial-text"><i class="quote-left"></i><%-review.reply_text%><i class="quote-right"></i></p>
                  </div>
               </div>
              <% } %>             
            <% }); %>  
           
              </div>
              </div>
              <div class="row">
              <div class="col-md-12 text-center">              
              <center>
               <% if(reviewCount>0) { %>
                <ul class="pagination">
                  <li class="page-item" data-id="0"><a class="page-link" href="javascript:void(0)">First</a></li>
                  <%
                  var lastPage = Math.ceil(reviewCount/5);
                  var last = lastPage - 1;
                  for(k=0;k<lastPage;k++){ %>
                  <li class="page-item <% if(page==k){ %> active <%}%>" data-id="<%=k%>"><a class="page-link" href="javascript:void(0)"><%=k+1%></a></li>
                  <% } %>
                  <li class="page-item" data-id="<%=last%>"><a class="page-link" href="javascript:void(0)">Last</a></li>
                </ul>
              <% } %>
              </center>
              </div>
              </div>

              <form action="location-detail" id="location-detail" method="get">
                <input type="hidden" name="id" id="id" value="<%=property.id%>" />
                <input type="hidden" name="page" id="page" value="<%=page%>" />
              </form>
            </div>
          </div>
         </div>
        </div>
      </div>
    
    <!-- /dashboard content -->
<% include template/subfooter%>
<script type="text/javascript" src="../assets/js/custom/jquery.colorbox.js"></script>   
  <script type="text/javascript">
      $(".pagination li").click(function(){
        $("#page").val($(this).attr('data-id'));
        $("#location-detail").submit();
      });
      
      $(".location_review_delete").click(function(){
       var id=$(this).attr('data-reviewid');     
       var $this=$(this);
       console.log($this);
       $(this).parent().parent().remove();
        $.ajax({
            method: 'post',
            url:'/admin/review/removeReviewReply',
            data: {id:id},
            success:function(result){
              console.log(result);
              if(result.success){
              
              }else{
            
              }
            }
          });
      });

      $(".delReview").click(function(){
        var $this=$(this);
        var rate =$this.attr('data-rating');
        console.log(rate);

        swal({
            title: "Are you sure you want to delete this review ?",
            icon: "warning",
            buttons: true,
            buttons: ["Cancel", "Delete"],
            dangerMode: true,
            closeOnClickOutside: false,
            closeOnEsc: false,
            timer: 10000,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                  method:'post',
                  url:'/admin/review/deleteReview',
                  data: {id:$(this).data('id')},
                  success:function(result){
                    if(result.success){
                      window.location.reload();
                    }else{
                      $(".msg-div").css('color','#ff0000');
                      $(".msg-div").html("Error : something is wrong in deleted review.").fadeIn('fast').delay(1000).fadeOut('fast');
                    }
                  }
                })
            }
        });

        /*if(confirm("Are you sure you want to delete this review ?")) {
          $.ajax({
            method:'post',
            url:'/admin/review/deleteReview',
            data: {id:$(this).data('id')},
            success:function(result){
              if(result.success){
                /*var counter1 = parseInt($(".count-review span").html());              
                counter1--;              
                $(".count-review span").html(counter1);              
                var nrate = $(".rating-"+rate+" span").html();              
                nrate=parseInt(nrate)
                nrate--;              
                $(".rating-"+rate+" span").html(nrate);
                $this.parent().parent().remove();
                $(".msg-div").css('color','#00ff00');
                $(".msg-div").html("Review deleted successfully.").fadeIn('fast').delay(1000).fadeOut('fast');*/
                /*window.location.reload();
              }else{
                $(".msg-div").css('color','#ff0000');
                $(".msg-div").html("Error : something is wrong in deleted review.").fadeIn('fast').delay(1000).fadeOut('fast');
              }
            }
          })
        }*/
      });

      $(".delReviewReply").click(function(){
        var $this=$(this);
        var rate =$this.attr('data-rating');
          $.ajax({
            method:'post',
            url:'/admin/review/removeReviewReply',
            data: {id:$(this).data('id')},
            success:function(result){
              if(result.success){              
                //window.location.reload();
                $(this).parent().parent().remove();
              }else{
                $(".msg-div").css('color','#ff0000');
                $(".msg-div").html("Error : something is wrong in deleted review.").fadeIn('fast').delay(1000).fadeOut('fast');
              }
            }
          });
      })
  </script>
<% include template/footer%>
      
