<% include template/head %>
<link href="../assets/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="../assets/js/custom/bootstrap-toggle.min.js"></script>
<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>
<% include template/subheader %>
<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - User Details</h4>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="home"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active"><a href="users"><i class="icon-users4 position-left"></i> Users</a></li>
        <li class="active">User Details</li>
        <li class="active"><%=user.first_name+" "+user.last_name %></li>
      </ul>
    </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">

    <!-- Dashboard content -->
    <div class="panel panel-flat panel-admin">
        <div class="panel-body table-responsive">
          <h4 class="text-center">User Details</h4>
            <table class="table table-striped">
                <tr>
                  <td>First Name</td>
                  <td><%=user.first_name %></td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td><%=user.last_name %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%=user.mail %></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td><%=user.address1 %></td>
                </tr>                   
                <tr> 
                  <td>Area</td>
                  <td><%=user.address2 %></td>
                </tr>
                  <tr>
                  <td>City</td>
                  <td><%=user.city %></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td><%=user.country %></td>                           
                </tr>
                <tr>
                  <td>Postal Code</td>
                  <td><%=user.postcode %></td>                           
                </tr>
                <tr>
                  <td>Professional Badge</td>
                  <td>
                    <input type="checkbox" class="prof-badge-toggle" <%= (user.is_professional_badge==0) ? '' : 'checked'%> data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="info" data-style="ios" value="<%= user.is_professional_badge%>" userId="<%= user.id %>">
                  </td>                           
                </tr>                                             
            </table>
          <div class="text-right">
            <button class="btn btn-primary" onclick="window.history.back();">Back </button>
          </div>
        </div>
    </div>
    
    <!-- /dashboard content -->
<% include template/subfooter%>
<script type="text/javascript">
  $(function() {
      $('.prof-badge-toggle').change(function() {
          var userId = $(this).attr('userId');
          var toggle_value = $(this).val();
          $.ajax({
              type: "POST",
              url: '/admin/setprofesstionalbadge',
              data: {is_checked: $(this).prop('checked'), userId: userId, toggle_value: toggle_value},
              success: function(data){
              },
              error: function(){
                console.log('error');
              }
          });
      })
    })   
</script>
<% include template/footer%>
      
