<!DOCTYPE html>
<html lang="en">
  <head>
    <% include frontend/template/head %>
    <link href="../css/blog.css" rel="stylesheet">
    
  </head>
  <body>
    <!-- Navigation -->
   <% include frontend/template/subnav %>
    <!-- Masthead -->
    <section class="blog-detail blog-details">
        <div class="container">
            <div class="col">
                <h2 class='text-center page-title'>Blog</h2>        
            </div>
            <div class="panel panel-flat blog-detail-content blog-rev" id="<%=blog.id%>">
                <div class="panel-body">                  
                    <div class="blog-img">
                      <%if((blog.blog_image)!=''){%>
                        <img src="uploads/<%=blog.blog_image%>" class="img-responsive" alt="<%=blog.blog_title%>" id="blogimg<%=blog.id%>">
                      <%}%>
                    </div>
                    <div class="blog-heading">
                        <h2 class="panel-title"><strong><%=blog.blog_title%></strong></h2>
                        <div class="text-muted">
                            <% var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                            var dates = new Date(blog.created_date);  %>
                            <%=monthNames[dates.getMonth()]%> <%=dates.getDate()%>, <%=dates.getFullYear()%>
                        </div>
                    </div>
                    <div class="about-text">
                        <%- blog.blog_content %>
                    </div>
                </div>
            </div>
      </div>
    </section>
	<!-- Footer -->
  <% include frontend/template/subfooter %>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    //
  });
</script>



   
