	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="<%-meta.keyword%>">
    <meta name="description" content="<%-meta.description%>">
    <meta name="author" content="<%-meta.author%>">
    <title><%-meta.keyword%></title>
    <!-- Bootstrap core CSS -->
    

    <!-- Custom fonts for this template -->
    <link href="/frontend_assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/frontend_assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%-base_url%>/frontend_assets/css/rating.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/style.css" rel="stylesheet">

    <link href="<%-base_url%>/frontend_assets/css/YouTubePopUp.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/pop-up.min.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/colorbox.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/jquery-ui.css" rel="stylesheet">
    <link href="<%-base_url%>/frontend_assets/css/layout.css" rel="stylesheet">
    <link href="<%-base_url%>/css/developer_basic.css" rel="stylesheet">
    <!--[if IE]>
    <style>
        .search-btn {
            top: 3px;
            padding: 0;
        }
    </style>
    <![endif]-->
