<footer class="footer-section" id="main-footer">
    <div class="container">
        <div class="row footer-menu">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/developer-help">Developer Help</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <ul>
              <li><a href="https://medium.com/revstance" target="_new">Blog</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/search">Search</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 third-col">
            <div class="row">
              <ul>
                <li><i class="number-icon"></i><span><a href="tel:44 7541256016">+44 7541256016</a></span></li>
                <li><i class="number-icon"></i><span><a href="tel:44 7549941609">+44 7549941609</a></span></li>
                <li><i class="email-icon"></i><span><a href="mailto:hello@revstance.com">hello@revstance.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-top"></div>
        <div class="seprator"></div>
        <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="social-media-footer text-center">
               <li><a href="https://www.facebook.com/revstance" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/MyRevstance" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.pinterest.co.uk/revstance/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
               <li><a href="https://www.instagram.com/revstance" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://t.me/revstance" target="_blank"><i class="fa fa-telegram telegram"></i></a></li>
              </ul>
         </div>
        </div>
        <div class="copyright-text">
           <p>Copyright @ Revstance 2018 (Meet Your Ltd). All Rights Reserved</p>
        </div>
    </div> 
</footer>

<div class="modal fade sub-footer" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
           <div class="col-ld-6 col-md-6 col-sm-6 col-xs-12 modal-left">
               <div class="modal-logo rev-logo">
                  <img src="../frontend_assets/img/revstance-logo.png" alt="revstance">
               </div>
                  <ul class="modal-menu">
                    <li><a href="https://medium.com/revstance" target="_new">Blog</a></li>
                    <li><a href="../about">About Us</a></li>
                    <li><a href="../developer-help">Developer Help</a></li>
                    <li><a href="../contactus">Contact Us</a></li>
                    <li><a href="../terms">Terms and Conditions</a></li>
                 </ul>
           </div>
            <div class="col-ld-6 col-md-6 col-sm-6 col-xs-12 modal-right">
              <div class="modal-info">
              <div class="row">
              <ul class="menu-contact">
                <li class="number"><i class="number-icon"></i><span><a href="tel:44 7541256016">+44 7541256016</a></span></li>
                <li class="number"><i class="number-icon"></i><span><a href="tel:44 7549941609">+44 7549941609</a></span></li>
                <li class="email"><i class="email-icon"></i><span><a href="mailto:hello@revstance.com">hello@revstance.com</a></span></li>
              </ul>
            </div>
            <div class="row">
              <ul class="social-media">
                  <li>
                    <a class="links" href="https://www.facebook.com/revstance" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>               
                  <li>
                    <a class="links" href="https://twitter.com/MyRevstance" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a class="links" href="https://www.pinterest.co.uk/revstance/" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </li>
                   <li>
                    <a class="links" href="https://www.instagram.com/revstance/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                   <li>
                    <a class="links" href="https://t.me/revstance" target="_blank"><i class="fa fa-telegram telegram"></i></a>
                  </li>
               </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="lat" id="lat" value="0" />
<input type="hidden" name="lng" id="lng" value="0" />
<input type="hidden" name="user_location" id="user_location" value="" />

<script src="<%-base_url%>/js/core/jquery.min.js"></script>
<script src="<%-base_url%>/frontend_assets/vendor/jquery/jquery.min.js"></script>
<script src="<%-base_url%>/js/validation/jquery.validate.js"></script>
<script src="<%-base_url%>/js/validation/additional-methods.js"></script>
<script src="<%-base_url%>/js/validation/jquery.form.js"></script>
<script src="<%-base_url%>/js/plugins/sweetalert/sweetalert.js"></script>
<script src="<%-base_url%>/frontend_assets/js/YouTubePopUp.jquery.js"></script>
<script src="<%-base_url%>/frontend_assets/js/owl.carousel.min.js"></script>
<script src="<%-base_url%>/frontend_assets/js/script.min.js"></script>
<script src="<%-base_url%>/frontend_assets/js/handlebars.min.js"></script>
<script src="<%-base_url%>/frontend_assets/js/jquery.colorbox.js"></script>
<script src="<%-base_url%>/frontend_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="<%-base_url%>/frontend_assets/js/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery("#category-select").selectmenu();
    jQuery(function(){
        $(".owl-carousel").owlCarousel({
            items:2,
            loop:true,
            autoplay:true,
            margin:10,
            autoplayTimeout:5000,
            autoplayHoverPause:true,
            dots:true,
            responsiveClass:true,
                responsive:{
                0:{
                    items:1,
                    nav:false
                },
                768:{
                    items:2,
                    nav:false
                },
                1080:{
                    items:2,
                    nav:false
                },
                1600:{
                    items:2,
                    nav:false
                },
            }
        });   
    });
    $('.img-hover').hover(
        function(){
            $(this).addClass('color-white');
        },
        function(){
            $(this).removeClass('color-white');
        }
    );
    $(window).scroll(function(){
        var sticky = $('#navbar'),
            scroll = $(window).scrollTop(),
            body = $('body');
        if (scroll >= 5){
            sticky.addClass('navbar-fixed');
            body.addClass('navbar-fixed');
        }
        else {
            sticky.removeClass('navbar-fixed');
            body.removeClass('navbar-fixed');
        }
    });
    $('.footer-top').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 800);
        return false;
    }); 
    function logout(){
      swal({
              title: "Are you sure you want to Logout?",
              icon: "warning",
              //text:"Are you sure want to Logout..?",
              buttons: true,
              buttons: ["No", "Yes"],
              dangerMode: true,
              closeOnClickOutside: false,
              closeOnEsc: false,
              timer: 10000,
          })
        .then((willDelete) => {
            if (willDelete) {
                document.getElementById('logout-form').submit();
            }
        });
    }
</script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  $(".create-slider").click(function(e) {
    var image_carousel_container = $(this).attr('href')+' .carousel-slider-inner';
    $(image_carousel_container).empty();
        var Attr = $(this).attr('data-media');
        var valNew=Attr.split(',');
        for(var i=0;i<valNew.length;i++){
          if(i == 0){
            var myclass = 'active';
          }else{
            var myclass = '';
          }
            $(image_carousel_container).append("<div class='carousel-item property-item "+myclass+"'><img src=/uploads/"+valNew[i]+" class='d-block property-image'></div>");
          }

        $('.create-slider').colorbox({inline:true, width:"50%", height:"auto"});
          if (jQuery(window).width() <= 768) { 
            $('.create-slider').colorbox({inline:true, width:"90%", height:"auto"}); 
          };
        });

        $('.image-carousel').carousel({
            interval: 6000
        })

        $('.carousel-control-prev').click(function() {
          $('.image-carousel').carousel('prev');
        });

        $('.carousel-control-next').click(function() {
          $('.image-carousel').carousel('next');          
        });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119123990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119123990-1');
</script>
