<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Revstance | Search</title>
        <% include ../frontend/template/head %>
    </head>
    <body>
        <!-- Navigation -->
        <% include ../frontend/template/subnav %>   
        <div class="container" id="claimed">            
            <div class="row margin-5">                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 <%if(properties.length!=0){%>search_result_all_message<%}else{%>search_result_message<%}%>">
                <% if (error.length > 0) { %>
                  <div class="alert alert-danger"><%- error %></div>
                <% } %>

                <% if (success.length > 0) { %>
                  <div class="alert alert-success"><%- success %></div>
                <% } %>                
                    <span class="pull-right"><a href="/Mylisting" href="javascript:void(0)" class="btn btn-danger pull-right">Back</a></span>
                    <h2> My Claimed Location </h2>
                    <hr class="seprator" />
                    <p><strong><%=counter%> Locations in claimed list.</strong></p>
                    <p>&nbsp;</p>
                    <% properties.forEach(function(property){ %>
                    <div class="search-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                             <div class="search-left-image">    
                                 <%var im = (property.property_image).split(',');
                                var im_name = im[0];%>

                                <%if(im[0]==''){%>
                                  <img src="/images/no-location.jpg" class="image-left">
                                <%}else{%>
                               <img src="/uploads/thumbs/thumb_<%=im_name%>" class="image-left">
                               <!-- <img src="/uploads/<%=im_name%>" class="image-left"> -->
                                <%}%>
                              </div>   
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white-card">
                                <div class="card-info <% if(property.status==0){%>claimed-property<%}else if(property.status==1){%>claim-assignedother<%}else{%>claimed-rejected<%} %>">
                                    <h3 class="card-title"><a href="location/<%=property.slug%>/details"><%=property.property_name%></a></h3>
                                    <% var address = property.address1+property.address2%>

                                    <% if(address.length > 100){%>
                                    <p class="content-add"><%=address.substr(0,100)+'...'%></p>
                                    <%}else{%>
                                        <p class="content-add"><%=property.address1+" "+property.address2%></p>
                                    <%}%>
                                    <p class="content-category"><%=property.category%></p>
                                    <div class="review">
                                        <div class="review-count"> <%=property.review_count %> Reviews</div>
                                          <div class="property-overall-rating">
                                          <div class="stars">
                                            <% var i=0;
                                            for(i=0;i<parseInt(property.average_rating);i++){ %>
                                            <span class="star-o"></span>  
                                            <% }
                                            for(;i<5;i++){  %>
                                            <span class="star-half-o"></span>
                                            <% } %>
                                          </div>
                                        </div>
                                        <div class="review-count pull-right">
                                          <a href="/deleteClaim?id=<%-property.id%>"><button class="list-delete">delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <hr class="seprator" />
                    <% }) %>
                     <% if(counter>5){ %> 
                        <div class="row">
                            <ul class="pagination">
                              <li class="page-item" data-id="0"><a class="page-link" href="javascript:void(0)">First</a></li>
                              <%
                              var lastPage = Math.ceil(counter/10);
                              var last = lastPage - 1;
                              for(k=0;k<lastPage;k++){ 
                              if(((k+3)==page) || ((k+2)==page) || ((k+1)==page) || (k==page) || ((k-1)==page) || ((k-2)==page) || ((k-3)==page)){
                  %>
                              <li class="page-item <% if(page==k){ %> active <%}%>" data-id="<%=k%>"><a class="page-link" href="javascript:void(0)"><%=k+1%></a></li>
                              <% } } %>
                              <li class="page-item" data-id="<%=last%>"><a class="page-link" href="javascript:void(0)">Last</a></li>
                            </ul>            
                        </div>
                        <input type="hidden" name="total_page" id="total_page" value="<%=Math.ceil(counter/5)%>">
                        <% } %>
                </div>
            </div>           
        </div>
        <form action="myclaimedroperties" id="myclaimedroperties">
            <input type="hidden" name="page" value="<%-page%>" id="page" />
        </form>
        <!-- Footer -->
        <% include ../frontend/template/subfooter %>
        <script type="text/javascript">
         $("#category-select").change(function(){
            $("#page").val(0);
          });

            $(document).ready(function(){ 
                $(".pagination li").click(function(){
                    $("#page").val($(this).attr('data-id'));
                    $("#myclaimedroperties").submit();
                });

                $('.done-btn').click(function(){
                    $('.filter-box').parent().removeClass('up-arrow');
                    $('.filter-content').slideToggle('slow');
                });
                
                $('.search-content').each(function(){
                  var height_e =  $(this).height()
                  $(this).find('img').height(height_e);
                });
            });       
        </script>
    </body>
</html>